<div class="br-page br-page-home">

<p>Incorporated in 2000 in the province of British Columbia, Canada, Britway Technology Inc. is a unique and innovative services and products provider. We are committed to providing our customers with best business solutions through value added services and most cost-effective products.</p>
<br/> 

<p>The management team consists of former senior managers of large industrial enterprises and multinational companies and ex-university professors who are specialists in their respective fields. Using their innovation, unique business sense, vast experience and wide multi- industry connections, BTI's founders and executives make it a unique Value Added Services and Products Provider.</p>
<br /> 

<p>
The services consist of: 
--- Sourcing/ Supply Chain Management
--- Marketing and Sales Support
--- Culture/ Technical Exchanges and Consulting
--- System integration 
</p>
<br /> 

<p>
Diversified technical and Industrial products:
--- Test & Electronics
--- Metals & Raw materials 
--- Energy Saving & Environmental Protection
</p>
<br /> 

<p>In addition, Britway is also seeking for technical Investment opportunities to support start- up company as seed funding;</p>



</div>