<div class="entry-content">	
	<div class="br-page br-page-home">
	    <ul class="br-primary-list">
	    
	    <li>
	        <h2>Introduction</h2>
	        <div>
	           <p class="br-paragraph">As a globalized company with modern and advanced management concept, Britway was incorporated in 2000 in the province of British Columbia, Canada. By taking advantages of experienced management team who used to work in well know multinational companies for many years , Professional  staff  as well as  wide connections with global industries, we have provided most cost effective solutions to our global customers  in various sectors such as Electronics and  telecommunications, Metals and metallurgical , Energy Conservation  and Environment protection …etc.</p>
	           <p class="br-paragraph">Over the past 15 years, Britway has gradually become a bridge connecting the east and the west and the tie among product, talent people and  working capital.  With the business grows  and expansion, especially the grows of resources business, A specialized entity - Britway Resources Inc was  incorporated in 2015 in order to be more focus on resources business and provide more professional services to our customers.</p>
	           <p class="br-paragraph">Britway Resources Inc is involved in the broad meaning resources integration business. In addition regular resources trading, We are also involved in the integration services in Technologies, Human  resources  and Capital  as well. We are able to provide  with total comprehensive solutions to our customers with our rich experience and competitive advantages, including Investment consultancies, direct & indirect  investment  in  entire phases of a company growing  from  Angel investment, Venture capital  to Private Equity investments. </p>
	           <p class="br-paragraph">We take natural resources, network resources and financial resources as a broad meaning resources. Through our code of conduct: People-oriented, Resources integration, Create value and Satisfy customers, we  commit  to provide our customers with best total solutions .</p>
	           <p class="br-paragraph">Britway Resources Inc is expecting  to be your trustworthy  partner in your  Business growing  way to the successful goal !</p>
	        </div>
	    </li>
	    
	    <li>    
	        <h2>Advantages</h2>
	        <div>
	            <p class="br-paragraph">Different from traditional trading and consulting Companies, Britway   applies  various  modern and advanced concepts of Marketing  / Sales,  Sourcing/Supply Chain 
Management …etc in its routine operations. People Oriented, Customer Maximum Satisfaction, Pursuit of  Excellence , Six Sigma...All of this builts up BTI's unique  culture and   competitive advantages: </p>
	
	            <ul class="br-secondary-list">
	               <li>A Sharp vision of Ensuring Customer Satisfaction and the Pursuit of Excellence.</li>
	               <li>Professional Team with talent people
		               <p class="br-tab">---- Multi National living and working experiences,  both Western and Oriental            
               Culture familiarities & Bilingual communication abilities</p>
		               <p class="br-tab">---- Leading Multi National companies working background and training </p>
	                </li>
	               <li>A deep penetration to  global  market & wide connections with the Industries especially  for Chinese  technologies and Industries.
	               </li>
	               <li>Global Network and operations  
                       <p class="br-tab">---- On-Site and real time services by our offices and networks in Canada, United States, Hong Kong, Mainland China. </p>
                   </li>
	            </ul>
	        </div>
	    </li>   
	    
	    <li>    
	        <h2>Contact</h2>
	        <div class="br-contact-us">
		        <div>
		            <p><strong>Canada</strong></p>
		            <p>
		                6149 Empress Ave., Burnaby, BC , Canada, V5E2S4 <br />
                        Tel: +1 604 330 7736 <br />
                        Fax: +1 604 326 0156<br />
                        Email  : info@britwayresources.com<br />
                        Web : http://www.britwayresources.com<br />
		            </p>
		        </div>
		         
		        <div>    
		            <p><strong>Hong kong</strong></p> 
		            <p>
		                12/F., XiuHuaCommercial Building, 211-213 Jaffe Road , Hong Kong<br />
		                Cheung Sha Wan, Kowloon, Hong Kong.<br />
                        Tel: +852  23108000 <br />
                        Fax: +852  81482056  <br />
                        Email: hk@britwayresources.com<br />
		            </p>
		        </div>   
		            
		         <div>
		            <p><strong>Beijing</strong></p> 
		            <p>
                        Room 305, Fortune Building,No.17 DaLiuShu Road, Haidian District, Beijing, China, Zip Code: 100081<br />
                        Tel: +86 10 62114155 <br />
                        Fax: +86 10 62112476 <br />
                        Email: bj@britwayresources.com<br />
		            </p>
		        </div>
	        </div>
	    </li>
	    
	    </ul>
	
	</div>
</div>