<div class="br-page br-page-products">
	<div class="br-primary-list-header">
		<p>Titanium with element symbol Ti and atomic number is 22 is a
			silvery-white transition metal , Its main features are light in
			weight and high in strength, good corrosion resistance to sea water,
			aqua regia and chlorine..etc. Therefore it is know as “space metal “
			for its thermo stability, low and high temperature resistance,
			acidproof, Alkali-resisting as well as other stable chemical
			properties.</p>
		<p>Ferro Titanium is alloy of Titanium and iron , It is used in
			steelmaking as a cleansing agent for iron and steel.</p>
	</div>

	<ul class="br-primary-list">

		<li>
			<p>Ferro Titanium specification：</p>


			<div>

				<table class=br-data-table border=0 cellspacing=0 cellpadding=0
					width=552 style='width: 5.75in; border-collapse: collapse'>
					<tr style='height: .3in'>
						<td width=552 colspan=3 valign=bottom
							style='width: 5.75in; border: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>
								<span lang=ZH-CN style='font-family: 宋体'>Ferro Titanium</span>
							</p>
						</td>
					</tr>
					<tr style='height: 21.65pt'>
						<td width=184 valign=bottom
							style='width: 138.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal>Ti</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>40
								or 70</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>%
								min</p>
						</td>
					</tr>
					<tr style='height: 21.65pt'>
						<td width=184 valign=bottom
							style='width: 138.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal>Al</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>0.5
								or 4.5</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: 21.65pt'>
						<td width=184 valign=bottom
							style='width: 138.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal>V</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>3</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: 21.65pt'>
						<td width=184 valign=bottom
							style='width: 138.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal>N</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>0.2
								or 0.5</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: 21.65pt'>
						<td width=184 valign=bottom
							style='width: 138.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal>S</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>0.03</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: 21.65pt'>
						<td width=184 valign=bottom
							style='width: 138.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal>P</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>0.04</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: 21.65pt'>
						<td width=184 valign=bottom
							style='width: 138.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal>C</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>0.04</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: 21.65pt'>
						<td width=184 valign=bottom
							style='width: 138.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal>Mn</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>1.5</p>
						</td>
						<td width=184 valign=bottom
							style='width: 138.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: 21.65pt'>
						<td width=184 valign=bottom
							style='width: 138.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal>Size</p>
						</td>
						<td width=368 colspan=2 valign=bottom
							style='width: 276.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 21.65pt'>
							<p class=MsoNormal align=center style='text-align: center'>10-50/10-100mm</p>
						</td>
					</tr>
				</table>

			</div>
			<div class="br-table-container">
				<div class="tr">

					<div class="td td-4">
						<img class="br-product-image"
							src="http://www.britwayresources.com/wp-content/themes/skt-white/site-content/images/products/titanium-1.jpg"
							alt="" />
					</div>

					<div class="td td-4">
						<img class="br-product-image"
							src="http://www.britwayresources.com/wp-content/themes/skt-white/site-content/images/products/titanium-2.png"
							alt="" />
					</div>

				</div>
			</div>

		</li>
	</ul>
    <div class="br-primary-list-footer">
       <div class="br-go-back">
           <a href="http://www.britwayresources.com/en/products/">Go Back</a>
       </div>
    </div>
</div>