<div class="br-page br-page-products">
	<div class="br-primary-list-header">
		<p>Tungsten (Wolfram ) with element symbol W, Atomic number 74 is
			an important alloying element in high-speed and other tool steels,
			and is used to a lesser extent in some stainless and structural
			steels.</p>
		<p>Ferro Tungsten is an alloying agent in steel making and it is
			also a remarkably robust alloy because of its high melting point.
			Wolfram has the second highest melting point after carbon.</p>
	</div>

	<ul class="br-primary-list">

		<li>
			<p>Ferro Tungsten Specification：</p>


			<div>
				<table class=br-data-table border=0 cellspacing=0 cellpadding=0
					width=600 style='width: 6.25in; border-collapse: collapse'>
					<tr style='height: .3in'>
						<td width=600 colspan=3 valign=bottom
							style='width: 6.25in; border: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>
								<span lang=ZH-CN style='font-family: 宋体'>Ferro Tungsten</span>
							</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=161 valign=bottom
							style='width: 121.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>W</p>
						</td>
						<td width=256 valign=bottom
							style='width: 192.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>75</p>
						</td>
						<td width=183 valign=bottom
							style='width: 137.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>%
								min</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=161 valign=bottom
							style='width: 121.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>C</p>
						</td>
						<td width=256 valign=bottom
							style='width: 192.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>0.40</p>
						</td>
						<td width=183 valign=bottom
							style='width: 137.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=161 valign=bottom
							style='width: 121.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>P</p>
						</td>
						<td width=256 valign=bottom
							style='width: 192.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>0.05</p>
						</td>
						<td width=183 valign=bottom
							style='width: 137.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=161 valign=bottom
							style='width: 121.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>S</p>
						</td>
						<td width=256 valign=bottom
							style='width: 192.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>0.08</p>
						</td>
						<td width=183 valign=bottom
							style='width: 137.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=161 valign=bottom
							style='width: 121.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>Si</p>
						</td>
						<td width=256 valign=bottom
							style='width: 192.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>0.70</p>
						</td>
						<td width=183 valign=bottom
							style='width: 137.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=161 valign=bottom
							style='width: 121.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>Mn</p>
						</td>
						<td width=256 valign=bottom
							style='width: 192.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>0.50</p>
						</td>
						<td width=183 valign=bottom
							style='width: 137.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=161 valign=bottom
							style='width: 121.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>Cu</p>
						</td>
						<td width=256 valign=bottom
							style='width: 192.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>0.15</p>
						</td>
						<td width=183 valign=bottom
							style='width: 137.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=161 valign=bottom
							style='width: 121.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>As</p>
						</td>
						<td width=256 valign=bottom
							style='width: 192.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>0.10</p>
						</td>
						<td width=183 valign=bottom
							style='width: 137.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: 22.5pt'>
						<td width=161 valign=bottom
							style='width: 121.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: 22.5pt'>
							<p class=MsoNormal>Sb</p>
						</td>
						<td width=256 valign=bottom
							style='width: 192.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 22.5pt'>
							<p class=MsoNormal align=center style='text-align: center'>0.05</p>
						</td>
						<td width=183 valign=bottom
							style='width: 137.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 22.5pt'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=161 valign=bottom
							style='width: 121.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>Sn</p>
						</td>
						<td width=256 valign=bottom
							style='width: 192.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>0.08</p>
						</td>
						<td width=183 valign=bottom
							style='width: 137.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=161 valign=bottom
							style='width: 121.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>Size</p>
						</td>
						<td width=439 colspan=2 valign=bottom
							style='width: 329.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>10-50
								mm 90% min</p>
						</td>
					</tr>
					<tr style='height: 24.0pt'>
						<td width=161 valign=bottom
							style='width: 121.0pt; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: 24.0pt'>
							<p class=MsoNormal>Packing</p>
						</td>
						<td width=439 colspan=2 valign=bottom
							style='width: 329.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: 24.0pt'>
							<p class=MsoNormal align=center style='text-align: center'>250kg
								drums on pallets</p>
						</td>
					</tr>
				</table>


			</div>
			<div class="br-table-container">
				<div class="tr">

					<div class="td td-4">
						<img class="br-product-image"
							src="http://www.britwayresources.com/wp-content/themes/skt-white/site-content/images/products/tungsten-1.jpg"
							alt="" />
					</div>

				</div>
			</div>


		</li>
	</ul>
    <div class="br-primary-list-footer">
       <div class="br-go-back">
           <a href="http://www.britwayresources.com/en/products/">Go Back</a>
       </div>
    </div>
</div>