<div class="br-page br-page-products">
	<div class="br-primary-list-header">
		<p>In addition to direct  trading and distribution of various nobel alloys made by 
our global suppliers, Britway Resources Inc  is able to  convert  from raw material 
to final products for our global customers by our global leading   convertors  based 
in  China, South Korea and Canada .</p>
	</div>

    <p>
    We purchase high quality raw materials , convert in our qualified  Conversion 
Service providers , and  provide our customers with  various kind of  products. 
 Main converted products are  
    
    </p>
	<ul class="br-secondary-list">
		<li>Vanadium Pen toxide Fused  Flake V2O5</li>
		<li>Ferro Vanadium FeV80 </li>
		<li>Vanadium Carbo Nitride VCN /VN</li>
	</ul>
    <div class="br-primary-list-footer">
       <div class="br-go-back">
           <a href="http://www.britwayresources.com/en/products/">Go Back</a>
       </div>
    </div>
</div>