<div class="br-page br-page-products">
	<div class="br-primary-list-header">
		<p>Molybdenum with element symbol Mo and atomic number 42 is a
			silvery white metal with hard and tough feature.</p>
		<p>Ferro Molybdenum is the main product of molybdenum alloy with
			50%-60% Molybdenum. One of the primary benefits adding Ferro
			Molybdenum to an alloy is that it harden properties ,which makes
			steel extremely strong and at the same time weldable, Additionally,
			adding Ferro Molybdenum to an alloy can increase corrosion
			resistance. Therefore it is main agent to produce HSLA (High
			Strength-Low Alloy) steel and stainless Steel.</p>
	</div>

	<ul class="br-primary-list">

		<li>
			<p>Ferro Molybdenum Specification：</p>


			<div>
				<table class=br-data-table border=0 cellspacing=0 cellpadding=0
					width=592 style='width: 444.0pt; border-collapse: collapse'>
					<tr style='height: .3in'>
						<td width=592 colspan=3 valign=bottom
							style='width: 444.0pt; border: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>
								<span lang=ZH-CN style='font-family: 宋体'>Ferro Molybdenum
									铁</span>
							</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=168 valign=bottom
							style='width: 1.75in; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>Mo</p>
						</td>
						<td width=272 valign=bottom
							style='width: 204.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>60-65
								or 67-70</p>
						</td>
						<td width=152 valign=bottom
							style='width: 114.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>%</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=168 valign=bottom
							style='width: 1.75in; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>Cu</p>
						</td>
						<td width=272 valign=bottom
							style='width: 204.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>0.50</p>
						</td>
						<td width=152 valign=bottom
							style='width: 114.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=168 valign=bottom
							style='width: 1.75in; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>Si</p>
						</td>
						<td width=272 valign=bottom
							style='width: 204.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>1.50</p>
						</td>
						<td width=152 valign=bottom
							style='width: 114.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=168 valign=bottom
							style='width: 1.75in; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>S</p>
						</td>
						<td width=272 valign=bottom
							style='width: 204.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>0.10</p>
						</td>
						<td width=152 valign=bottom
							style='width: 114.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=168 valign=bottom
							style='width: 1.75in; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>Cu</p>
						</td>
						<td width=272 valign=bottom
							style='width: 204.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>0.10</p>
						</td>
						<td width=152 valign=bottom
							style='width: 114.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=168 valign=bottom
							style='width: 1.75in; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>P</p>
						</td>
						<td width=272 valign=bottom
							style='width: 204.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>0.05</p>
						</td>
						<td width=152 valign=bottom
							style='width: 114.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>%
								max</p>
						</td>
					</tr>
					<tr style='height: .3in'>
						<td width=168 valign=bottom
							style='width: 1.75in; border: solid black 1.0pt; border-top: none; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal>Size</p>
						</td>
						<td width=424 colspan=2 valign=bottom
							style='width: 318.0pt; border-top: none; border-left: none; border-bottom: solid black 1.0pt; border-right: solid black 1.0pt; padding: .05in .1in .05in .1in; height: .3in'>
							<p class=MsoNormal align=center style='text-align: center'>10-50/10-100
								mm</p>
						</td>
					</tr>
				</table>


			</div>
			<p>
			<div class="br-table-container">
				<div class="tr">

					<div class="td td-4">
						<img
							src="http://www.britwayresources.com/wp-content/themes/skt-white/site-content/images/products/molybdenum-1.jpg"
							alt="" />

					</div>
					<div class="td td-4">

						<img
							src="http://www.britwayresources.com/wp-content/themes/skt-white/site-content/images/products/molybdenum-2.jpg"
							alt="" />
					</div>
				</div>
			</div>
			</p>

		</li>
	</ul>
    <div class="br-primary-list-footer">
       <div class="br-go-back">
           <a href="http://www.britwayresources.com/en/products/">Go Back</a>
       </div>
    </div>
</div>