<div class="entry-content">	
	<div class="br-page br-page-home">
	    <ul class="br-primary-list">
	    
	    <li>
	        <h2>公司简介</h2>
	        <div>
	           <p class="br-paragraph">作为一家具有着鲜明全球化和先进管理理念的产品和服务的提供商，明程集团的千里之行始于2001年的加拿大。凭借着公司核心团队多年在世界知名跨国公司工作所积累的丰富经验,广泛的渠道,创新意识及专业化水平，在电子与通讯,金属及原料,节能环保等多个领域 为世界各地的广大客户提供了性价比最优的解决方案.</p>
	           <p class="br-paragraph">回顾15年来的历程，历经过低谷,也成就过辉煌，明程逐步成长为一座连接世界特别是连接东西方的桥梁，走上了一条沟通中西方文化、资源乃至资本的光明坦途, 随着公司各项业务的发展,特别是资源类贸易的逐步扩展，为了给客户提供更加专业化的服务, 我们将资源类业务剥离出来，成立了全新的明程资源有限公司.</p>
	           <p class="br-paragraph">明程资源有限公司专注广义的资源整合业务,立足自然资源贸易,并拓展资源,技术,人才,资本的资源整合. 利用自身优势和多年的积累整合相关各种资源,给客户提供所需的全面解决方案.包括对接和直接参与企业创立,成长各个阶段股权投资。自然资源、人脉资源、资金资源三位一体，以实现我们以人为本，整合资源,创造价值,客户至上的理念.</p>
	           <p class="br-paragraph">明程资源公司期待成为您成功路上的坚实伙伴！</p>
	        </div>
	    </li>
	    
	    <li>    
	        <h2>公司优势</h2>
	        <div>
	            <p class="br-paragraph">区别于传统的贸易和咨询公司, 明程资源吸收了许多现代市场营销和供应链管 理理念并运用于公司的运营，以人为本，客户至上，追求卓越，所有这些打造 了明程资源公司特有的公司文化和竞争优势</p>
	
	            <ul class="br-secondary-list">
	               <li>追求卓越客户至上的鲜明理念</li>
	               <li>优秀人材构成的专业化团队
		               <p class="br-tab">---- 多国生活经历熟悉东西方文化</p>
		               <p class="br-tab">---- 世界知名跨国公司培训和工作经验</p>
		               <p class="br-tab">---- 双语交流沟通能力</p>
		               <p class="br-tab">---- 深入了解亚洲特别是中国科技及企业</p>
	                </li>
	               <li>全球化的网络和运营系统
	                   <p class="br-tab">---- 凭借我们在北美及亚洲的运营机构和合作伙伴网络给客户提供无时 差的快速响应和及时服务。</p>
	               </li>
	            </ul>
	        </div>
	    </li>   
	    
	    <li>    
	        <h2>联系我们</h2>
	        <div class="br-contact-us">
		        <div>
		            <p><strong>加拿大</strong></p>
		            <p>
		                6149 Empress Ave., Burnaby, BC , Canada, V5E2S4 <br />
		                BC , Canada, V6P2E4 <br />
		                                                      电话: +1 604 330 7736 <br />
		                                                       传真: +1 604 326 0156<br />
		                                                       邮箱  : info@britwayresources.com<br />
		                                                        网址 : http://www.britwayresources.com<br />
		            </p>
		        </div>
		         
		        <div>    
		            <p><strong>香港代表处</strong></p> 
		            <p>
		                12/F., XiuHuaCommercial Building, 211-213 Jaffe Road , Hong Kong<br />
		                Cheung Sha Wan, Kowloon, Hong Kong.<br />
		                                                       电话: +852  23108000 <br />
		                                                       传真: +852  81482056  <br />
		                                                       邮箱: hk@britwayresources.com<br />
		            </p>
		        </div>   
		            
		         <div>
		            <p><strong>北京代表处</strong></p> 
		            <p>
		                                                   中国北京海淀区大柳树路17号富海大厦B座305室  <br />
		                                                  邮编: 100081 <br />
		                                                   电话: +86 10 62114155 <br />
		                                                   传真: +86 10 62112476 <br />
		                                                   邮箱: bj@britwayresources.com<br />
		            </p>
		        </div>
	        </div>
	    </li>
	    
	    </ul>
	
	</div>
</div>