<div class="br-page br-page-products">
    <div class="br-primary-list-header">
        <p>元素符号 Ti，原子序数22，是一种银白色的过渡金属，其特征为重量轻、强度高、具金属光泽，亦有良好的抗腐蚀能力（包括海水、王水及氯气）。由于其稳定的化学性质，良好的耐高温、耐低温、抗强酸、抗强碱，以及高强度、低密度，被誉为“太空金属”。其主要的合金产品为钛铁,由钛与铁组成,用作钢铁的纯化剂。</p>
    </div>

	<ul class="br-primary-list">
	
		<li>	
		    <p>
		                      钛铁基本指标如下：
		     </p>
		   
		     
		     <div>
        <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=552
 style='width:5.75in;border-collapse:collapse'>
 <tr style='height:.3in'>
  <td width=552 colspan=3 valign=bottom style='width:5.75in;border:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=ZH-CN
  style='font-family:宋体'>钛铁</span></p>
  </td>
 </tr>
 <tr style='height:21.65pt'>
  <td width=184 valign=bottom style='width:138.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal>Ti</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>40 or 70</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>% min</p>
  </td>
 </tr>
 <tr style='height:21.65pt'>
  <td width=184 valign=bottom style='width:138.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal>Al</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>0.5 or 4.5</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:21.65pt'>
  <td width=184 valign=bottom style='width:138.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal>V</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>3</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:21.65pt'>
  <td width=184 valign=bottom style='width:138.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal>N</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>0.2 or 0.5</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:21.65pt'>
  <td width=184 valign=bottom style='width:138.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal>S</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>0.03</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:21.65pt'>
  <td width=184 valign=bottom style='width:138.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal>P</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>0.04</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:21.65pt'>
  <td width=184 valign=bottom style='width:138.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal>C</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>0.04</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:21.65pt'>
  <td width=184 valign=bottom style='width:138.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal>Mn</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>1.5</p>
  </td>
  <td width=184 valign=bottom style='width:138.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:21.65pt'>
  <td width=184 valign=bottom style='width:138.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal>Size</p>
  </td>
  <td width=368 colspan=2 valign=bottom style='width:276.0pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:21.65pt'>
  <p class=MsoNormal align=center style='text-align:center'>10-50/10-100mm</p>
  </td>
 </tr>
</table>
        
            </div>
            <div class="br-table">
                <div class="tr">

                    <div class="td td-4">
                  <img class="br-product-image" src="http://www.britwayresources.com/wp-content/themes/skt-white/site-content/images/products/titanium-1.jpg" alt="" />
                    </div>

                    <div class="td td-4">
                  <img class="br-product-image" src="http://www.britwayresources.com/wp-content/themes/skt-white/site-content/images/products/titanium-2.png" alt="" />
                    </div>

                </div>
            </div>
            
        </li>
	</ul>
</div>