<div class="br-page br-page-products">
    <div class="br-primary-list-header">
        <p>
        元素符号 Mo，原子序数42，银白色金属，硬而坚韧 ,其合金钼铁由钼和铁组成，一般含钼50～60%，用作炼钢特别是各类不锈钢合金添加剂。
        
        </p>
    </div>

	<ul class="br-primary-list">
	
		<li>	
		    <p>
		                      钼铁基本指标如下：
		     </p>
		   
		     
		     <div>
<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=592
 style='width:444.0pt;border-collapse:collapse'>
 <tr style='height:.3in'>
  <td width=592 colspan=3 valign=bottom style='width:444.0pt;border:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=ZH-CN
  style='font-family:宋体'>钨铁</span></p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=168 valign=bottom style='width:1.75in;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>Mo</p>
  </td>
  <td width=272 valign=bottom style='width:204.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>60-65 or 67-70</p>
  </td>
  <td width=152 valign=bottom style='width:114.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>%</p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=168 valign=bottom style='width:1.75in;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>Cu</p>
  </td>
  <td width=272 valign=bottom style='width:204.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>0.50</p>
  </td>
  <td width=152 valign=bottom style='width:114.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=168 valign=bottom style='width:1.75in;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>Si</p>
  </td>
  <td width=272 valign=bottom style='width:204.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>1.50</p>
  </td>
  <td width=152 valign=bottom style='width:114.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=168 valign=bottom style='width:1.75in;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>S</p>
  </td>
  <td width=272 valign=bottom style='width:204.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>0.10</p>
  </td>
  <td width=152 valign=bottom style='width:114.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=168 valign=bottom style='width:1.75in;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>Cu</p>
  </td>
  <td width=272 valign=bottom style='width:204.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>0.10</p>
  </td>
  <td width=152 valign=bottom style='width:114.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=168 valign=bottom style='width:1.75in;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>P</p>
  </td>
  <td width=272 valign=bottom style='width:204.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>0.05</p>
  </td>
  <td width=152 valign=bottom style='width:114.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=168 valign=bottom style='width:1.75in;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>Size</p>
  </td>
  <td width=424 colspan=2 valign=bottom style='width:318.0pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>10-50/10-100 mm</p>
  </td>
 </tr>
</table>

        
            </div>
        </li>
	</ul>
</div>