<div class="br-page br-page-products">
    <div class="br-primary-list-header">
        <p>
                            元素符号 W，原子序数74 ，钢灰色或银白色，硬度高，熔点高，常温下不受空气侵蚀；主要用途为制造灯丝和高速切削合金钢、超硬模具,也用于光学仪器，化学仪器。中国是世界上最大的钨储藏国 ,其合金钨铁(含钨量为：70%-80%)，是钨和铁组成的合金，用作炼钢的合金添加剂。

        </p>
    </div>

	<ul class="br-primary-list">
	
		<li>	
		    <p>
		                      钨铁基本指标如下：
		     </p>
		   
		     
		     <div>
		     <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=600
 style='width:6.25in;border-collapse:collapse'>
 <tr style='height:.3in'>
  <td width=600 colspan=3 valign=bottom style='width:6.25in;border:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=ZH-CN
  style='font-family:宋体'>钨铁</span></p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=161 valign=bottom style='width:121.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>W</p>
  </td>
  <td width=256 valign=bottom style='width:192.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>75</p>
  </td>
  <td width=183 valign=bottom style='width:137.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>% min</p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=161 valign=bottom style='width:121.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>C</p>
  </td>
  <td width=256 valign=bottom style='width:192.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>0.40</p>
  </td>
  <td width=183 valign=bottom style='width:137.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=161 valign=bottom style='width:121.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>P</p>
  </td>
  <td width=256 valign=bottom style='width:192.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>0.05</p>
  </td>
  <td width=183 valign=bottom style='width:137.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=161 valign=bottom style='width:121.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>S</p>
  </td>
  <td width=256 valign=bottom style='width:192.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>0.08</p>
  </td>
  <td width=183 valign=bottom style='width:137.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=161 valign=bottom style='width:121.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>Si</p>
  </td>
  <td width=256 valign=bottom style='width:192.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>0.70</p>
  </td>
  <td width=183 valign=bottom style='width:137.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=161 valign=bottom style='width:121.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>Mn</p>
  </td>
  <td width=256 valign=bottom style='width:192.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>0.50</p>
  </td>
  <td width=183 valign=bottom style='width:137.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=161 valign=bottom style='width:121.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>Cu</p>
  </td>
  <td width=256 valign=bottom style='width:192.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>0.15</p>
  </td>
  <td width=183 valign=bottom style='width:137.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=161 valign=bottom style='width:121.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>As</p>
  </td>
  <td width=256 valign=bottom style='width:192.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>0.10</p>
  </td>
  <td width=183 valign=bottom style='width:137.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:22.5pt'>
  <td width=161 valign=bottom style='width:121.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:22.5pt'>
  <p class=MsoNormal>Sb</p>
  </td>
  <td width=256 valign=bottom style='width:192.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:22.5pt'>
  <p class=MsoNormal align=center style='text-align:center'>0.05</p>
  </td>
  <td width=183 valign=bottom style='width:137.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:22.5pt'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=161 valign=bottom style='width:121.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>Sn</p>
  </td>
  <td width=256 valign=bottom style='width:192.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>0.08</p>
  </td>
  <td width=183 valign=bottom style='width:137.0pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>% max</p>
  </td>
 </tr>
 <tr style='height:.3in'>
  <td width=161 valign=bottom style='width:121.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal>Size</p>
  </td>
  <td width=439 colspan=2 valign=bottom style='width:329.0pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:.3in'>
  <p class=MsoNormal align=center style='text-align:center'>10-50 mm 90% min</p>
  </td>
 </tr>
 <tr style='height:24.0pt'>
  <td width=161 valign=bottom style='width:121.0pt;border:solid black 1.0pt;
  border-top:none;padding:.05in .1in .05in .1in;height:24.0pt'>
  <p class=MsoNormal>Packing</p>
  </td>
  <td width=439 colspan=2 valign=bottom style='width:329.0pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:.05in .1in .05in .1in;height:24.0pt'>
  <p class=MsoNormal align=center style='text-align:center'>250kg drums on
  pallets</p>
  </td>
 </tr>
</table>
		     
        
            </div>
                   <div class="br-table">
                <div class="tr">

                    <div class="td td-4">
                  <img class="br-product-image" src="http://www.britwayresources.com/wp-content/themes/skt-white/site-content/images/products/tungsten-1.jpg" alt="" />
        </div>

                </div>
            </div>
            
            
                    </li>
	</ul>
</div>