/**************************************** Override ******************************************/
.nivoSlider {
	height: 500px;
}

#footer-wrapper {
	padding: 0;
}

#services-box .read-more {

}
#services-box .read-more:hover {
    background-color: #00a8ff;
    color: white;   
}
/******************************** Britway Resources Pages ***********************************/
body {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.br-page:before, .br-page:after {
	content: " ";
	display: table;
}
.br-page:after {
    clear: both;
}

.br-page ul {
	
}

.br-page ul li{
	margin-top: 40px;
}

.br-page ul li > h2{
	margin-bottom: 10px;
}

.br-page ul li:before, .br-page ul li:after {
	content: " ";
	display: table;
}
.br-page ul li:after {
	clear: both;
}

.br-section p {
	margin: 20px 0;
}

#services-box > h2:nth-child(2){
	height: 2em;
	line-height: 1em;
	
}
#services-box > p:nth-child(3){
	height: 180px;
}

.br-full-width-heading {
	background-color: #E6E6E6;
	padding-top: 50px;	
	margin-left: -1000px;
	padding-left: 1000px;
	margin-right: -1000px;
	padding-right: 1000px;
	overflow-x: hidden;
}
.br-tabs {
	list-style: none;
	display: block;
	
}
.br-tabs:after {
	content: " ";
	display: table;
	clear:both;
}
.br-tabs li {
	padding: 10px 20px 10px 10px;
	float: left;
	display: inline-block;
}
.br-tabs li a {
	font-size: 20px;
}
.br-tabs li.active {
	color: black;
}
.br-tabs li.active a {
	text-decoration: underline;
}
.top-bar ul.languages li {
	display: inline-block;
}
.top-bar ul.languages li a {
	font-size: 12px;
	padding: 10px;
	width: 90px;
	background-color: transparent !important;
}

.br-contact-us {
	width: 100%;
	display: table;
}
.br-contact-us > div {
    display: table-cell;
    width: 33.33%;
}
@media screen and (max-width:899px) {
	.br-contact-us {
	    display: block;
	}
	.br-contact-us > div {
	    margin-top: 20px;
		display: block;
		width: 100%;
	}
}
