/**************************************** Override ******************************************/
.nivoSlider {
	height: 500px;
}

#footer-wrapper {
	padding: 0;
}

#services-box .read-more {

}
#services-box .read-more:hover {
    background-color: #4793cd;
    color: white;   
}

#services-box img {
	height: 70px;
}
/******************************** Britway Resources Pages ***********************************/
body {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.br-page:before, .br-page:after {
	content: " ";
	display: table;
}
.br-page:after {
    clear: both;
}

ul.br-primary-list > li{
	margin-top: 60px;
}

ul.br-primary-list > li > h2{
	margin-bottom: 10px;
}

ul.br-primary-list > li:before, ul.br-primary-list > li:after {
	content: " ";
	display: table;
}
ul.br-primary-list > li:after {
	clear: both;
}
.br-primary-list-header {

}
.br-primary-list-footer {

}
.br-section {
	margin: 20px 0;
}
.br-paragraph {
    margin: 20px 0;
}
.br-tab {
    margin-left: 20px;
}


#services-box > h2:nth-child(2){
	height: 2em;
	line-height: 1em;
	
}
#services-box > p:nth-child(3){
	height: 150px;
}

.br-full-width-heading {
	background-color: #E6E6E6;
	padding-top: 50px;	
	margin-left: -1000px;
	padding-left: 1000px;
	margin-right: -1000px;
	padding-right: 1000px;
	overflow-x: hidden;
}
.br-tabs {
	list-style: none;
	display: block;
	
}
.br-tabs:after {
	content: " ";
	display: table;
	clear:both;
}
.br-tabs li {
	padding: 10px 20px 10px 10px;
	float: left;
	display: inline-block;
}
.br-tabs li a {
	font-size: 20px;
}
.br-tabs li.active {
	color: black;
}
.br-tabs li.active a {
	text-decoration: underline;
}
.top-bar ul.languages li {
	display: inline-block;
}
.top-bar ul.languages li a {
	font-size: 12px;
	padding: 10px;
	width: 90px;
	background-color: transparent !important;
}

.br-contact-us {
	width: 100%;
	display: table;
}
.br-contact-us > div {
    display: table-cell;
    width: 33.33%;
}
@media screen and (max-width:899px) {
	.br-contact-us {
	    display: block;
	}
	.br-contact-us > div {
	    margin-top: 20px;
		display: block;
		width: 100%;
	}
}

ul.br-secondary-list {
    list-style: disc;	
}

ul.br-secondary-list > li{
    margin-left: 40px;  
    margin-top: 10px!important;
}

ul.br-secondary-list > li:before{
    display: none!important;
}

.br-product-image { width: 100%; height: auto;}
.br-table { display: block; width: 100%; box-sizing: border-box;}
.br-table .tr {margin-left: -15px; margin-right: -15px; box-sizing: border-box;}
.br-table .td {display: block; float:left; position: relative; padding: 15px; box-sizing: border-box;}
.td-1 {width: 8.33%;}
.td-2 {width: 16.67%;}
.td-3 {width: 25%;}
.td-4 {width: 33.33%;}
.td-5 {width: 41.65%;}
.td-6 {width: 50%;}
.td-7 {width: 58.31%;}
.td-8 {width: 66.64%;}
.td-9 {width: 75%;}
.td-10 {width: 83.33%;}
.td-11 {width: 91.63%;}
.td-12 {width: 100%;}